HP_USER={{ headphones_daemon_user }}
HP_HOME={{ headphones_app_src_directory }}
HP_DATA={{ headphones_app_data_directory }}
HP_PIDFILE={{ headphones_app_pid_file }}
HP_OPTS="{{ headphones_daemon_extra_opts }}"
HP_PORT={{ headphones_daemon_port}}
